{% extends "base.html" %}
{% block content %}

<h1>Audit Logs</h1>

<div class="card">
<table class="styled-table">
<tr>
    <th>User</th>
    <th>Action</th>
    <th>Entity</th>
    <th>Old</th>
    <th>New</th>
    <th>Notes</th>
    <th>Timestamp</th>
</tr>

{% for a in logs %}
<tr>
    <td>{{ a.user }}</td>
    <td>{{ a.action }}</td>
    <td>{{ a.entity }}</td>
    <td class="mono">{{ a.old_value }}</td>
    <td class="mono">{{ a.new_value }}</td>
    <td>{{ a.notes }}</td>
    <td>{{ a.timestamp }}</td>
</tr>
{% endfor %}
</table>
</div>

{% endblock %}
