{% extends "base.html" %}
{% block content %}

<h2>Configure {{ app.name }} ({{ app.environment }})</h2>

<div class="card">
    <h3>Application Metrics</h3>

    <form method="post">
        <input name="health_url" placeholder="Application Health URL" required>
        <input name="users_count_url" placeholder="Users Count API URL" required>

        <button class="btn primary">Save</button>
    </form>
</div>

<div class="card">
    <h3>Interfaces</h3>

    <table class="styled-table">
        <tr>
            <th>Target App</th>
            <th>Actions</th>
        </tr>

        {% for i in interfaces %}
        <tr>
            <td>{{ i.target_application_name }}</td>
            <td>
                <a class="btn small">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
